body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

#mainAppRoot,
#microAppContainer {
  width: 100%;
  height: 100%;
}

#microAppContainer {
  height: calc(100% - 90px);
}

#microAppContainer > div {
  width: 100%;
  height: 100%;
  overflow: auto;
}
